@import url(./helper.css);

@media (min-width: 1440px) {
    .container {
    max-width: 1248px;
    }
}

@media screen and (max-width: 1420px) {
    .logo-footer {
        margin-right: 9%!important;
    }
}

@media screen and (max-width: 1200px) {
    .circles-column {
        display: flex!important;
        flex-direction: column!important;
        align-content: center!important;
        padding-left: 30%;
    }
    .circle-grey {
        width: 63.3%!important;
    }
}

@media screen and (max-width: 1100px) {
    .circles-column {
        padding-left: 20%!important;
    }
    .circle-grey {
        width: 86.3%!important;
    }
}

@media screen and (max-width: 992px) {
    .chistopar-column-mobile{
        display: flex;
        flex-direction: column;
    }
    .black-back-container-padding{
        padding-right: 0!important;
    }
    .grey-back-container-padding{
        padding-left: 0!important;
        margin-top: 16px!important;
    }
}


@media screen and (max-width: 960px) {
    .header-item:first-child {
        margin-left: 0!important;
    }
    .header-item {
        margin-bottom: 24px!important;
    }
    .header-item:last-child {
        margin-bottom: 40px!important;
    }
    .header-margin-bottom {
        margin-bottom: 80px!important;
    }
    .paragraph-margin-main {
        margin-bottom: 24px!important;
    }

    .grey-back {
        padding-top: 37px!important;
    }
    .functional-container {
        padding: 40px 0 80px 0!important;
    }

    .circle-grey {
        width: 100%!important;
        margin-top: 51px!important;
    }
    .circles-column {
        padding-left: 0!important;
        }

    .circle-grey-64 {
        font-size: 40px!important;
        }
        
    .video-black-container {
    padding-top: 40px!important;
    padding-bottom: 42px!important;
    background-image: url('../images/black-wave-mobile.svg')!important;

        }

        .play {
            width: 48px!important;
            height: 48px!important;
        }
        
        .chistopar {
            padding: 49px 0 40px 0!important;
        }
    /* .chistopar-column-mobile{
        display: flex;
        flex-direction: column;
    } */
    .gold-back-img {
        width: 100%!important;
        transform: translate(0px, 0%)!important;
        border-radius: 8px 8px 0px 0px!important;
        margin-top: 28px!important;
    }
    .gold-back-container{
        padding: 16px 16px 0 16px!important;
    }
    .gold-back-p-margin {
        margin-bottom: 16px!important;
    }
    .btn-black-mobile-chistopar{
        width: 100%!important;
    }
    .video-obzor {
        margin-top: 30px!important;
    }
    .black-back-container {
        padding: 16px!important;
    }
    .margin-71 {
        margin-bottom: 33px!important;
    }
    .grey-back-img {
        margin-left: 0!important;
    }
    .grey-back-container {
        padding: 16px 16px 0 16px!important;
        height: fit-content!important;
    }
    .zdorovaya-banya-column-mobile {
        display: flex;
        flex-direction: column!important;
    }
    .green-back-container {
        height: fit-content!important;
    }
    .img-cards {
        transform: translate(0%, 0%)!important;
    }
    .gold-back-p-margin-mobile{
        margin-bottom: 43px!important;
    }
    .grey-back-2 {
        padding: 40px 0!important;
        background-image: url('../images/grey-wave-2-mobile.svg')!important;
    }
    .application {
        margin: 40px 0!important;
        padding: 16px!important;
        flex-direction: column!important;
    }
    .btn-black-307 {
        width: 100%!important;
        font-size: 13px!important;
    }
    .align-icon-mobile{
        align-self: flex-end;
    }
    .social-item {
        padding: 11px 16px 11px 16px!important;
    }
    .footer-column-mobile {
        flex-direction: column!important;
    }
}

@media screen and (max-width: 600px) {
    .join {
        padding-bottom: 44px!important;
    }
    .footer{
        background-image: url('../images/footer-mobile-wave.svg')!important;
        padding-top: 57px!important;
        padding-bottom: 40px!important;
    }
    .logo-footer {
        width: 93px!important;
        height: 64px!important;
        margin-bottom: 32px!important;
    }

    .btn-gold-212 {
        width: 172px!important;
        font-size: 13px!important;
    }
    .grey-back {
        background-image: url(../images/grey-wave-mobile.svg)!important;
    }
    .main-back {
        background-position: inherit!important;
    }
}

@media screen and (max-width: 550px) {
    .modal-dialog-header{
        margin: 0!important;
    }
}




body, * {
    font-family: "OpenSans", sans-serif!important;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

.color-white {
    color: white;
}
.color-black{
    color: black;
}
.color-grey{
    color: #909090;
}
.btn-gold {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: #CF9259;
    border-radius: 4px;
    cursor: pointer;
}
.btn-gold-212{
    width: 212px;
}
.btn-black {
    background-color: #434343;
    width: 272px;
    color: white;
    padding: 14.5px 0;
    text-align: center;
    border-radius: 4px;
}
.btn-gold-header {
    width: 209px;
}
.btn-gold-main{
    padding: 16px 0;
    /* width: 272px; */
    width: 209px!important;
}
.main-back {
    background-image: url('../images/main-img-wave.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 211px;
    padding-top: 14px;
    background-color: #F4F4F4;
}
/* HEADER///////////////////////////////////////////////// */
.header-item {
    margin-right: 48px;
}
.header-item:first-child {
    margin-left: 41px;
}
.header-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header-phone {
    padding-right: 45px;
}
.header-margin-bottom{
    margin-bottom: 135px;
}
.paragraph-margin-main{
margin-bottom: 97px;
}
/* ///////////////////////////////////////////////// */
.grey-back{
    padding-top: 92px;
    padding-bottom: 49px;
    background-color: #F4F4F4;
    background-image: url('../images/grey-wave.svg');
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}
.img-1{
    width: 188px;
    height: 523px;
    margin-top: 82px;
}
.img-2{
    width: 824px;
    height: 572px;
    transform: translate(0px, -5%);
}
/* ///////////////////////////////////////////////// */

.functional-container{
    padding: 96px 0 153px 0;
    text-align: center;
}
.circle-grey {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 69px;
    text-align: center;
    width: 31.3%;
}
/* .circle-grey-img {
    background-image: url("../images/circle-grey.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 11%;
    padding-bottom: 54px;
} */
.circle-grey-img {
    position: absolute;
}
.circle-grey-64 {
    font-size: 64px;
}

/* ///////////////////////////////////////////////// */


.video-black-container {
    /* background-color: #434343; */
    color: white;
    text-align: center;
    /* padding: 96px 0 92px 0; */
    background-image: url('../images/black-wave-top.svg');
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 96px;
    padding-bottom: 92px;
}
.video-img {
    border-radius: 16px;
}
.play {
    position: absolute;
    top: 42%;
    z-index: 100;
    left: 47%;
    border-radius: 50%;
}

.position-relative {
    position: relative;
}

/* ///////////////////////////////////////////////// */


.color-gold {
    color: #CF9259;
}

.chistopar{
    padding: 91px 0 96px 0;
}

.gold-back-container{
    padding: 40px;
    background-color: #CF9259;
    background-image: url('../images/pattern.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 16px;
}
.gold-back-p-margin{
    margin-bottom: 116px;
}
.gold-back-img{
    width: 548px;
    height: 310px;
    align-self: end;
    transform: translate(0px, 13%);
}
.black-back-container {
    padding: 40px;
    background-color:#434343;
    background-image: url('../images/pattern-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 16px;
}
.grey-back-container{
    padding: 40px;
    background-color:#E4E4E4;
    background-image: url('../images/pattern-3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    border-radius: 16px;
    height: 475px;
    overflow: hidden;
}
.green-back-container{
    background-color:#37A77F;
    background-image: url('../images/pattern-4.svg');
    height: 360px;
    overflow: hidden;
}

.video-obzor{
    margin-top: 78px;
}

.grey-back-img{
    width: 468px;
    height: 244px;
    margin-left: 45px;
}

.margin-71{
    margin-bottom: 71px;
}

.mini-img{
    transform: translate(5%, 0%);
}


.img-cards{
    width: 548px;
    transform: translate(0%, -7%);
}

.grey-back-2 {
  padding: 96px 0;
    /* background-color: #F4F4F4; */
    text-align: center;
    background-image: url('../images/grey-wave-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.didges-item-1 {
    width: 320px;
margin-top: 152px;
transform: translate(13%, 0px);
z-index: 1;
}

.didges-item-1-img{
width: 320px;
height: 172px;
background-color: white;
box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
border-radius: 8px;
padding: 8px;
}

.didges-item-2-img{
    width: 543px;
    height: 427px;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
}

.didges-item-1 {
    width: 320px;
margin-top: 152px;
transform: translate(13%, 0px);
z-index: 1;
}

.didges-item-3{
    transform: translate(-31%, 0px);
    z-index: 1;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}
.didges-item-3-img{
    width: 172px;
    height: 171px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
border-radius: 8px;
padding: 8px;
background-color: white;
}

.didges-item-4 {
    transform: translate(-46%, 0px);
    z-index: 1;
    margin-top: 234px;
}
.didges-item-4-img {
    width: 165px;
    height: 176px;
    padding: 8px;
background-color: white;
border-radius: 8px;

box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.svg-1{
    margin-right: 50px;
    margin-bottom: 12px;
}

/* ///////////////////////////////////////////////// */

.application {
    background-color:#CF9259;
    background-image: url('../images/pattern-5.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 96px 0;
    padding: 40px;
    border-radius: 16px;
}
.btn-black-307 {
width: 307px;
}

.join {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 96px;
}
.social-item {
    padding: 13px 16px 13px 16px;
    background: #CF9259;
border-radius: 8px;
width: fit-content;
}

/* ///////////////////////////////////////////////// */

.footer {
    background-image: url('../images/footer.svg');
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 91px;
    padding-bottom: 95px;
    color: white;
}
.logo-footer{
    width: 151px;
    height: 103px;
    margin-right: 143px;
}

.icon-container{
    padding: 11px;
    background-color: #5F5F5F;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
}

.modal-content-application{
    padding: 48px;
    border-radius: 12px;
}

.close-btn{
    position: absolute;
    top: 4%;
    right: 7%;
}

.input-my{
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 8px;
    /* padding: 17px 20px 17px 20px; */
    padding: 20px 17px 20px 17px;
    outline: none;
    transition: .3s;
    cursor: pointer;
}

.input-my-margin{
margin-bottom: 24px!important;
}

.mail-icon {
    position: fixed;
    bottom: 16px;
    right: 64px;
    cursor: pointer;
}


/* HEADER-MODAL///////////////////////////////////////////////// */

.close-mobile-menu{
    position: absolute;
    right: 5%;
    top: 3%;
    z-index: 1;
}

.mobile-menu {
    padding-top: 12px;
    height: 100vh;
}

.header-list-mobile{
    color: black;
}

.color-black-header-number:hover{
    color: black;
}

.btn-gold-header-mobile {
    width: 100%;
}

.btn-gold-header-mobile{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: #CF9259;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}